#jemmoduleteaser .calendar-alpha {background-image: url(img/calendar_alpha.png);}

#jemmoduleteaser .calendar-alpha .monthteaser-dark {
	color: black;
	text-shadow: #FFF 1px 1px 1px;
}

#jemmoduleteaser .calendar-alpha .monthteaser-light {
	color: #FFF;
	text-shadow: #000 1px 1px 1px;
}
