#jemmoduleteaser .calendar-blue {
	background-image: url(img/calendar_blue.png);
    background-size: 100%;
}

#jemmoduleteaser .calendar-blue .monthteaser {
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2),
    1px -1px 0 rgba(0,0,0,0.2),
    -1px 1px 0 rgba(0,0,0,0.2),
    1px 1px 0 rgba(0,0,0,0.2);
}