#jemmoduleteaser .calendar-red {
	background-image: url(img/calendar_red.png);
    background-size: 100%;
}

#jemmoduleteaser .calendar-red .monthteaser {
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2),
    1px -1px 0 rgba(0,0,0,0.2),
    -1px 1px 0 rgba(0,0,0,0.2),
    1px 1px 0 rgba(0,0,0,0.2);
}