body {
  /*color: #333;*/
}

body, input, button {
  /*line-height: 1.4;*/
  /*font: 13px Helvetica,arial,freesans,clean,sans-serif;*/
}


a {
  /*color: #4183C4;*/
  /*text-decoration: none;*/
}

#examples a {
  /*text-decoration: underline;*/
}

#geocomplete { width: 90%}

input#geocomplete {
	
	height:20px;
	
	}
input#find
{
	height:18px;
	cursor:pointer;
	border:1px solid black;
}

.map_canvas { 
  width: 100%; 
  height: 200px; 
  margin: 10px 20px 10px 0;
  /* margin: 10px 20px 10px 0; */
}

#multiple li { 
  /*cursor: pointer; */
  /*text-decoration: underline; */
}