@CHARSET "ISO-8859-1";




#main a:link, #main a:visited {text-decoration: none;color: inherit;}

	div#jem {
    overflow: hidden;
    background: none repeat scroll 0% 0% rgb(237, 237, 235);
    border: 0px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}
	
	div#jem h2 {
    font-weight: normal !important;
    padding: 0.3em;
    background: none repeat scroll 0% 0% rgb(212, 214, 178);
    border: none;
}
	
	
	@media print 
	
	{
	
	div#jem .buttons {
    float: right;
    display: none;
		}
	}