#jemmodulejubilee .calendar-alpha {background-image: url(img/calendar_alpha.png);}

#jemmodulejubilee .calendar-alpha .monthjubilee-dark {
	color: black;
	text-shadow: #FFF 1px 1px 1px;
}

#jemmodulejubilee .calendar-alpha .monthbanner-light {
	color: #FFF;
	text-shadow: #000 1px 1px 1px;
}
