<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="COM_JEM_GLOBAL_SETTINGS" addpath="/administrator/components/com_jem/elements">
		<field name="display_num" type="list" default="15" label="EVENT NUMBER" description="EVENT NUMBER TIP">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
			<option value="30">30</option>
			<option value="50">50</option>
		</field>
		<field name="cat_num" type="text" size="2" default="4" label="CAT DISPLAY" description="CAT DISPLAY DESC" />
		<field name="empty_cat" type="radio" default="0" label="EMPTY CATEGORIES" description="EMPTY CATEGORIES DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
  		<field name="filter" type="radio" default="1" label="FILTER" description="FILTER DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="display" type="radio" default="1" label="DISPLAY SELECT" description="DISPLAY SELECT DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="icons" type="radio" default="1" label="SHOW ICONS" description="SHOW ICONS DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="show_print_icon" type="radio" default="1" label="PRINT ICON" description="PRINT ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="show_email_icon" type="radio" default="1" label="EMAIL ICON" description="EMAIL ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="copyright" type="radio" default="1" label="COM_JEM_SHOW_COPYRIGHT" description="COM_JEM_SHOW_COPYRIGHT_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="facebook" type="radio" default="1" label="facebook" description="facebook desc">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>

		
 	</fieldset>
 	
 	<fieldset name="COM_JEM_RECURRENCE">
    <field name="weekdaystart" type="radio" default="1" label="COM_JEM_SELECTFIRSTWEEKDAY" description="COM_JEM_SELECTFIRSTWEEKDAYDESC">
      <option value="0">COM_JEM_SUNDAY</option>
      <option value="1">COM_JEM_MONDAY</option>
    </field>
    <field name="recurrence_anticipation" type="text" default="60" label="COM_JEM_RECURRENCEANTICIPATION" description="COM_JEM_RECURRENCEANTICIPATIONDESC" />
 	</fieldset>
 	
 	<!--disabled moved to settings view
 	<fieldset name="COM_JEM_SETTINGS_ATTACHMENTS">
    <field name="attachments_path" type="text" size="100" default="media/com_jem/attachments" label="COM_JEM_SETTINGS_ATTACHEMENT_PATH" description="COM_JEM_SETTINGS_ATTACHEMENT_PATH_DESC" />
    <field name="attachments_maxsize" type="text" size="15" default="1000" label="COM_JEM_SETTINGS_ATTACHEMENT_MAXSIZE" description="COM_JEM_SETTINGS_ATTACHEMENT_MAXSIZE_DESC" />
    <field name="attachments_types" type="text" size="100" default="txt,csv,htm,html,xml,css,doc,xls,rtf,ppt,pdf,swf,flv,avi,wmv,mov,jpg,jpeg,gif,png,zip,tar.gz" label="COM_JEM_SETTINGS_ATTACHEMENT_TYPES" description="COM_JEM_SETTINGS_ATTACHEMENT_TYPES_DESC" />
 	</fieldset>
 	-->
 	
 	<fieldset name="COM_JEM_SETTINGS_ICAL">
    <field name="ical_tz" type="radio" default="1" label="COM_JEM_SETTINGS_ICAL_TIMEZONE" description="COM_JEM_SETTINGS_ICAL_TIMEZONE_DESC">
      <option value="0">COM_JEM_SETTINGS_ICAL_TIMEZONE_FLOAT</option>
      <option value="1">COM_JEM_SETTINGS_ICAL_TIMEZONE_JOOMLA</option>
    </field>
       <field name="events_ical" type="radio" default="1" label="COM_JEM_SETTINGS_SHOW_EVENTS_ICAL" description="COM_JEM_SETTINGS_SHOW_EVENTS_ICAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>
    <field name="ical_max_items" type="text" default="100" label="COM_JEM_SETTINGS_ICAL_MAX_ITEMS" description="COM_JEM_SETTINGS_ICAL_MAX_ITEMS_DESC" />
  </fieldset>
  
  <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_content"
			section="component" />
	</fieldset>
</config>