<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="COM_EVENTLIST_GLOBAL_SETTINGS" addpath="/administrator/components/com_eventlist/elements">
		<field name="display_num" type="list" default="15" label="EVENT NUMBER" description="EVENT NUMBER TIP">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
			<option value="30">30</option>
			<option value="50">50</option>
		</field>
		<field name="cat_num" type="text" size="2" default="4" label="CAT DISPLAY" description="CAT DISPLAY DESC" />
		<field name="empty_cat" type="radio" default="0" label="EMPTY CATEGORIES" description="EMPTY CATEGORIES DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
  		<field name="filter" type="radio" default="1" label="FILTER" description="FILTER DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="display" type="radio" default="1" label="DISPLAY SELECT" description="DISPLAY SELECT DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="icons" type="radio" default="1" label="SHOW ICONS" description="SHOW ICONS DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="show_print_icon" type="radio" default="1" label="PRINT ICON" description="PRINT ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="show_email_icon" type="radio" default="1" label="EMAIL ICON" description="EMAIL ICON DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="copyright" type="radio" default="1" label="COM_EVENTLIST_SHOW_COPYRIGHT" description="COM_EVENTLIST_SHOW_COPYRIGHT_DESC">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		
    <field name="events_ical" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_SHOW_EVENTS_ICAL" description="COM_EVENTLIST_SETTINGS_SHOW_EVENTS_ICAL_DESC">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>
    <field name="ical_max_items" type="text" default="100" label="COM_EVENTLIST_SETTINGS_ICAL_MAX_ITEMS" description="COM_EVENTLIST_SETTINGS_ICAL_MAX_ITEMS_DESC" />
		
		<!-- START Event table columns -->
		<field type="elspacer" default="COM_EVENTLIST_SETTINGS_EVENT_TABLE_SPACER"/>
		
		<field name="showtime" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_WIDTH_DISPLAY_TIME" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_WIDTH_DISPLAY_TIME_TIP">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
		<field name="tablewidth" type="text" size="4" default="100%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_WIDTH_TIP" />
		
		<field type="spacer"/>
		
		<field name="datewidth" type="text" size="4" default="10%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_DATE_COL_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_DATE_COL_WIDTH_TIP" />
		<field name="datename" type="text" size="20" default="Date" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_DATE_COL_LABEL" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_DATE_COL_LABEL_TIP" />
		
		<field type="spacer"/>
		
		<field name="showcity" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_CITY" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_CITY_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		<field name="citywidth" type="text" size="4" default="10%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CITY_COL_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CITY_COL_WIDTH_TIP" />		
		<field name="cityname" type="text" size="20" default="City" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CITY_COL_LABEL" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CITY_COL_LABEL_TIP" />
		
		<field type="spacer"/>
		
		<field name="showtitle" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_TITLE" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_TITLE_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		<field name="showdetails" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_LINK_TITLE" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_LINK_TITLE_TIP" >
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>		
		<field name="titlewidth" type="text" size="4" default="10%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_TITLE_COL_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_TITLE_COL_WIDTH_TIP" />		
		<field name="titlename" type="text" size="20" default="Title" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_TITLE_COL_LABEL" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_TITLE_COL_LABEL_TIP" />
		
		<field type="spacer"/>
		
		<field name="showlocate" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_VENUE" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_VENUE_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		<field name="locationwidth" type="text" size="4" default="10%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_VENUE_COL_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_VENUE_COL_WIDTH_TIP" />		
		<field name="locationname" type="text" size="20" default="Venue" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_VENUE_COL_LABEL" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_VENUE_COL_LABEL_TIP" />
		<field name="showlinkvenue" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_VENUE_LINK" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_VENUE_LINK_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		
		<field type="spacer"/>
		
		<field name="showstate" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_STATE" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_STATE_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		<field name="statewidth" type="text" size="4" default="10%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_STATE_COL_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_STATE_COL_WIDTH_TIP" />		
		<field name="statename" type="text" size="20" default="State" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_STATE_COL_LABEL" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_STATE_COL_LABEL_TIP" />
		
		<field type="spacer"/>
		
		<field name="showcat" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_CATEGORY" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_CATEGORY_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		<field name="catfrowidth" type="text" size="4" default="10%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CATEGORY_COL_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CATEGORY_COL_WIDTH_TIP" />		
		<field name="catfroname" type="text" size="20" default="Category" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CATEGORY_COL_LABEL" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_CATEGORY_COL_LABEL_TIP" />
		<field name="catlinklist" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_CATEGORY_LINK" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_CATEGORY_LINK_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		
		<field type="spacer"/>
		
		<field name="showatte" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_ATTENDEES" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_SHOW_ATTENDEES_TIP" >
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>		
		<field name="attewidth" type="text" size="4" default="10%" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_ATTENDEES_COL_WIDTH" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_ATTENDEES_COL_WIDTH_TIP" />		
		<field name="attename" type="text" size="20" default="Attendees" label="COM_EVENTLIST_SETTINGS_FRONT_TABLE_ATTENDEES_COL_LABEL" description="COM_EVENTLIST_SETTINGS_FRONT_TABLE_ATTENDEES_COL_LABEL_TIP" />
		
		<!-- END Event table columns -->
		
 	</fieldset>
 	
 	<fieldset name="COM_EVENTLIST_RECURRENCE">
    <field name="weekdaystart" type="radio" default="1" label="COM_EVENTLIST_SELECTFIRSTWEEKDAY" description="COM_EVENTLIST_SELECTFIRSTWEEKDAYDESC">
      <option value="0">COM_EVENTLIST_SUNDAY</option>
      <option value="1">COM_EVENTLIST_MONDAY</option>
    </field>
    <field name="recurrence_anticipation" type="text" default="60" label="COM_EVENTLIST_RECURRENCEANTICIPATION" description="COM_EVENTLIST_RECURRENCEANTICIPATIONDESC" />
 	</fieldset>
 	
 	<fieldset name="COM_EVENTLIST_SETTINGS_ATTACHMENTS">
    <field name="attachments_path" type="text" size="100" default="media/com_eventlist/attachments" label="COM_EVENTLIST_SETTINGS_ATTACHEMENT_PATH" description="COM_EVENTLIST_SETTINGS_ATTACHEMENT_PATH_DESC" />
    <field name="attachments_maxsize" type="text" size="15" default="1000" label="COM_EVENTLIST_SETTINGS_ATTACHEMENT_MAXSIZE" description="COM_EVENTLIST_SETTINGS_ATTACHEMENT_MAXSIZE_DESC" />
    <field name="attachments_types" type="text" size="100" default="txt,csv,htm,html,xml,css,doc,xls,rtf,ppt,pdf,swf,flv,avi,wmv,mov,jpg,jpeg,gif,png,zip,tar.gz" label="COM_EVENTLIST_SETTINGS_ATTACHEMENT_TYPES" description="COM_EVENTLIST_SETTINGS_ATTACHEMENT_TYPES_DESC" />
 	</fieldset>
 	
 	<fieldset name="COM_EVENTLIST_SETTINGS_ICAL">
    <field name="ical_tz" type="radio" default="1" label="COM_EVENTLIST_SETTINGS_ICAL_TIMEZONE" description="COM_EVENTLIST_SETTINGS_ICAL_TIMEZONE_DESC">
      <option value="0">COM_EVENTLIST_SETTINGS_ICAL_TIMEZONE_FLOAT</option>
      <option value="1">COM_EVENTLIST_SETTINGS_ICAL_TIMEZONE_JOOMLA</option>
    </field>
  </fieldset>
  
  <fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_content"
			section="component" />
	</fieldset>
</config>