#jemmodulebanner .calendar-green {
	background-image: url(img/calendar_green.png);
    background-size: 100%;
}

#jemmodulebanner .calendar-green .monthbanner {
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.2),
    1px -1px 0 rgba(0,0,0,0.2),
    -1px 1px 0 rgba(0,0,0,0.2),
    1px 1px 0 rgba(0,0,0,0.2);
}