<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="globalparam2"
		label="COM_JEM_GLOBAL_PARAMETERS"
	>
		<field type="spacer" hr="true" />
		<field name="ical_max_items" type="text"
			label="COM_JEM_SETTINGS_ICAL_MAX_ITEMS"
			description="COM_JEM_SETTINGS_ICAL_MAX_ITEMS_DESC"
			class="inputbox"
			size="3"
			maxlength="3"
			required="false"
		/>
		<field name="display_num" type="text"
			label="COM_JEM_EVENT_NUMBER"
			description="COM_JEM_EVENT_NUMBER_DESC"
			class="inputbox"
			size="3"
			maxlength="3"
			required="false"
		/>
		<field name="discatheader" type="radio"
			label="COM_JEM_SETTINGS_SHOW_CATEGORY_IMAGES"
			description="COM_JEM_SETTINGS_SHOW_CATEGORY_IMAGES_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="recurrence_anticipation" type="text"
			label="COM_JEM_SETTINGS_RECURRENCE_LIMITDAYS"
			description="COM_JEM_SETTINGS_RECURRENCE_LIMITDAYS_DESC"
			class="inputbox"
			size="3"
			maxlength="3"
			required="true"
		/>
		<field name="ical_tz" type="list"
			label="COM_JEM_SETTINGS_ICAL_TIMEZONE"
			description="COM_JEM_SETTINGS_ICAL_TIMEZONE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">COM_JEM_SETTINGS_ICAL_TIMEZONE_FLOAT</option>
			<option value="1">COM_JEM_SETTINGS_ICAL_TIMEZONE_JOOMLA</option>
		</field>
		<field name="weekdaystart" type="list"
			label="COM_JEM_SETTINGS_SELECTFIRSTWEEKDAY"
			description="COM_JEM_SETTINGS_SELECTFIRSTWEEKDAY_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">COM_JEM_SETTINGS_SUNDAY</option>
			<option value="1">COM_JEM_SETTINGS_MONDAY</option>
		</field>
		<field name="attachments_path" type="text"
			label="COM_JEM_SETTINGS_ATTACHEMENT_PATH"
			description="COM_JEM_SETTINGS_ATTACHEMENT_PATH_DESC"
			class="inputbox"
			size="40"
			required="true"
		/>
		<field name="attachments_types" type="text"
			label="COM_JEM_SETTINGS_ATTACHEMENT_TYPES"
			description="COM_JEM_SETTINGS_ATTACHEMENT_TYPES_DESC"
			class="inputbox"
			size="40"
			required="true"
		/>
		<field name="attachments_maxsize" type="text"
			label="COM_JEM_SETTINGS_ATTACHEMENT_MAXSIZE"
			description="COM_JEM_SETTINGS_ATTACHEMENT_MAXSIZE_DESC"
			class="inputbox"
			size="40"
			required="true"
		/>
		<field name="defaultCountry" type="countryoptions"
			label="COM_JEM_SETTINGS_SELECT_DEFAULT_COUNTRY"
			description="COM_JEM_SETTINGS_SELECT_DEFAULT_COUNTRY_DESC"
		/>
	</fieldset>

	<fieldset name="display"
		label="COM_JEM_DISPLAY_SETTINGS"
	>
		<field name="showdetails" type="list"
			label="COM_JEM_SHOW_EVENT"
			description="COM_JEM_SHOW_EVENT_DESC"
			class="inputbox"
			size="1"
			default="1"
			required="false"
		>
			<option value="0">COM_JEM_EVENT_OFF</option>
			<option value="1">COM_JEM_LINK_ON_TITLE</option>
		</field>
		<field name="formatdate" type="text"
			label="COM_JEM_SETTINGS_DATE_FORMAT"
			description="COM_JEM_SETTINGS_DATE_FORMAT_DESC"
			class="inputbox"
			size="20"
			required="false"
		/>
		<field name="formatShortDate" type="text"
			label="COM_JEM_SETTINGS_SHORT_DATE_FORMAT"
			description="COM_JEM_SETTINGS_SHORT_DATE_FORMAT_DESC"
			class="inputbox"
			size="20"
			required="false"
		/>
		<field name="formattime" type="text"
			label="COM_JEM_TIME_STRFTIME"
			description="COM_JEM_TIME_STRFTIME_DESC"
			class="inputbox"
			size="20"
			required="false"
		/>
		<field name="timename" type="text"
			label="COM_JEM_TIME_NAME"
			description="COM_JEM_TIME_NAME_DESC"
			class="inputbox"
			size="15"
			maxlength="10"
			required="false"
		/>
		<field name="storeip" type="radio"
			label="COM_JEM_STORE_IP"
			description="COM_JEM_STORE_IP_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="usercontrol"
		label="COM_JEM_USER_CONTROL"
	>
		<field name="datdesclimit" type="text"
			label="COM_JEM_DESCRIPTION_LIMIT"
			description="COM_JEM_DESCRIPTION_LIMIT_DESC"
			class="inputbox"
			size="5"
			required="false"
		/>
		<field name="imageenabled" type="list"
			label="COM_JEM_IMAGE_UPLOAD_OPTIONS"
			description="COM_JEM_IMAGE_UPLOAD_OPTIONS_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">COM_JEM_DISABLED</option>
			<option value="1">COM_JEM_OPTIONAL</option>
			<option value="2">COM_JEM_REQUIRED</option>
		</field>
	</fieldset>

	<fieldset name="usercontrolregistration"
		label="COM_JEM_REGISTRATION"
	>
		<field name="showfroregistra" type="list"
			label="COM_JEM_SUBMIT_REGISTER"
			description="COM_JEM_SUBMIT_REGISTER_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">COM_JEM_OPTIONAL</option>
		</field>
		<field name="showfrounregistra" type="list"
			label="COM_JEM_SUBMIT_UNREGISTER"
			description="COM_JEM_SUBMIT_UNREGISTER_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">COM_JEM_OPTIONAL</option>
		</field>
	</fieldset>

	<fieldset name="evimagehandling"
		label="COM_JEM_IMAGE_HANDLING"
	>
		<field name="sizelimit" type="text"
			label="COM_JEM_IMAGE_FILESIZE"
			description="COM_JEM_IMAGE_FILESIZE_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
		<!-- @todo rename field -->
		<field name="imagehight" type="text"
			label="COM_JEM_IMAGE_HEIGHT"
			description="COM_JEM_IMAGE_HEIGHT_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
		<field name="imagewidth" type="text"
			label="COM_JEM_IMAGE_WIDTH"
			description="COM_JEM_IMAGE_WIDTH_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
		<field name="gddisabled" type="radio"
			label="COM_JEM_GD_LIBRARY"
			description="COM_JEM_GD_LIBRARY_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="gdversion" type="text"
			label="COM_JEM_GD_VERSION"
			description="COM_JEM_GD_VERSION_DESC"
			class="inputbox"
			default="0"
			required="false"
		/>
		<field name="lightbox" type="radio"
			label="COM_JEM_IMAGE_LIGHTBOX"
			description="COM_JEM_IMAGE_LIGHTBOX_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="meta_description" type="textarea"
			label="COM_JEM_META_DESCRIPTION"
			description="COM_JEM_META_DESCRIPTION_DESC"
			rows="3" cols="35"
			class="inputbox"
		/>
	</fieldset>

	<fieldset name="eveventhandling"
		label="COM_JEM_EVENT_HANDLING"
	>
		<field name="oldevent" type="list"
			label="COM_JEM_OLD_EVENTS"
			description="COM_JEM_OLD_EVENTS_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">COM_JEM_DO_NOTHING</option>
			<option value="1">COM_JEM_DELETE_OLD_EVENTS</option>
			<option value="2">COM_JEM_ARCHIVE_OLD_EVENTS</option>
		</field>
		<field name="minus" type="text"
			label="COM_JEM_NUMBER_DELETE_DAYS"
			description="COM_JEM_NUMBER_DELETE_DAYS_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
	</fieldset>

	<fieldset name="layoutgenerallayoutsetting"
		label="COM_JEM_GENERAL_LAYOUT_SETTINGS"
	>
		<field name="showtime" type="radio"
			label="COM_JEM_DISPLAY_TIME"
			description="COM_JEM_DISPLAY_TIME_FRONT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="tablewidth" type="text"
			label="COM_JEM_FRONT_TABLE_WIDTH"
			description="COM_JEM_FRONT_TABLE_WIDTH_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
		<field name="datewidth" type="text"
			label="COM_JEM_WIDTH_DATE_COLUMN"
			description="COM_JEM_WIDTH_DATE_COLUMN_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
	</fieldset>

	<fieldset name="layoutcitycolumn"
		label="COM_JEM_CITY_COLUMN"
	>
		<field name="showcity" type="radio"
			label="COM_JEM_DISPLAY_CITY_FRONT"
			description="COM_JEM_DISPLAY_CITY_FRONT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="citywidth" type="text"
			label="COM_JEM_WIDTH_CITY_COLUMN"
			description="COM_JEM_WIDTH_CITY_COLUMN_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
	</fieldset>

	<fieldset name="layoutattendeecolumn"
		label="COM_JEM_ATTENDEE_COLUMN"
	>
		<field name="showatte" type="radio"
			label="COM_JEM_DISPLAY_ATTENDEE_FRONT"
			description="COM_JEM_DISPLAY_ATTENDEE_FRONT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="attewidth" type="text"
			label="COM_JEM_WIDTH_ATTENDEE_COLUMN"
			description="COM_JEM_WIDTH_ATTENDEE_COLUMN_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
	</fieldset>

	<fieldset name="layouttitlecolumn"
		label="COM_JEM_TITLE_COLUMN"
	>
		<field name="showtitle" type="radio"
			label="COM_JEM_DISPLAY_TITLE_FRONT"
			description="COM_JEM_DISPLAY_TITLE_FRONT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="titlewidth" type="text"
			label="COM_JEM_WIDTH_TITLE_COLUMN"
			description="COM_JEM_WIDTH_TITLE_COLUMN_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
	</fieldset>

	<fieldset name="layoutvenuecolumn"
		label="COM_JEM_VENUE_COLUMN"
	>
		<field name="showlocate" type="radio"
			label="COM_JEM_DISPLAY_VENUE_FRONT"
			description="COM_JEM_DISPLAY_VENUE_FRONT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="locationwidth" type="text"
			label="COM_JEM_WIDTH_VENUE_COLUMN"
			description="COM_JEM_WIDTH_VENUE_COLUMN_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
		<field name="showlinkvenue" type="radio"
			label="COM_JEM_DISPLAY_LINK_TO_VENUE_VIEW"
			description="COM_JEM_DISPLAY_LINK_TO_VENUE_VIEW_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="layoutstatecolumn"
		label="COM_JEM_STATE_COLUMN"
	>
		<field name="showstate" type="radio"
			label="COM_JEM_DISPLAY_STATE_FRONT"
			description="COM_JEM_DISPLAY_STATE_FRONT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="statewidth" type="text"
			label="COM_JEM_WIDTH_STATE_COLUMN"
			description="COM_JEM_WIDTH_STATE_COLUMN_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
	</fieldset>

	<fieldset name="layoutcategorycolumn"
		label="COM_JEM_CATEGORY_COLUMN"
	>
		<field name="showcat" type="radio"
			label="COM_JEM_DISPLAY_CATEGORY_FRONT"
			description="COM_JEM_DISPLAY_CATEGORY_FRONT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="catfrowidth" type="text"
			label="COM_JEM_WIDTH_CATEGORY_COLUMN"
			description="COM_JEM_WIDTH_CATEGORY_COLUMN_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
		<field name="catlinklist" type="radio"
			label="COM_JEM_DISPLAY_LINK_TO_CATEGORY_VIEW"
			description="COM_JEM_DISPLAY_LINK_TO_CATEGORY_VIEW_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="layoutshowimage"
		label="COM_JEM_LAYOUT_TABLE_EVENTIMAGE"
	>
		<field name="showeventimage" type="radio"
			label="COM_JEM_LAYOUT_DISPLAY_EVENTIMAGE"
			description="COM_JEM_LAYOUT_DISPLAY_EVENTIMAGE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="tableeventimagewidth" type="text"
			label="COM_JEM_LAYOUT_TABLE_EVENTIMAGE_WIDTH"
			description="COM_JEM_LAYOUT_TABLE_EVENTIMAGE_WIDTH_DESC"
			class="inputbox"
			size="10"
			maxlength="10"
			required="false"
		/>
	</fieldset>

	<fieldset name="usercontrolacevent"
		label="COM_JEM_AC_EVENTS"
	>
		<field name="delivereventsyes" type="list"
			label="COM_JEM_AC_EVENT_SUBMIT"
			description="COM_JEM_AC_EVENT_SUBMIT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="-2">COM_JEM_ONLYADMINS</option>
			<option value="-1">COM_JEM_ALLREGISTERED</option>
		</field>
		<field name="evdelrec" type="radio"
			label="COM_JEM_RECURSIVE"
			description="COM_JEM_RECURSIVE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JHIDE</option>
			<option value="1">JYES</option>
		</field>
		<field name="autopubl" type="list"
			label="COM_JEM_AUTOPUBLISH"
			description="COM_JEM_AUTOPUBLISH_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="-2">COM_JEM_ONLYADMINS</option>
			<option value="-1">COM_JEM_ALLREGISTERED</option>
		</field>
		<field name="evpubrec" type="radio"
			label="COM_JEM_RECURSIVE"
			description="COM_JEM_RECURSIVE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="eventedit" type="list"
			label="COM_JEM_AC_EVENT_EDIT"
			description="COM_JEM_AC_EVENT_EDIT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="-2">COM_JEM_ONLYADMINS</option>
			<option value="-1">COM_JEM_ALLREGISTERED</option>
		</field>
		<field name="eventeditrec" type="radio"
			label="COM_JEM_RECURSIVE"
			description="COM_JEM_RECURSIVE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="eventowner" type="radio"
			label="COM_JEM_EDIT_EVENT_FRONTEND_USER"
			description="COM_JEM_EDIT_EVENT_FRONTEND_USER_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset name="usercontrolacvenue"
		label="COM_JEM_AC_VENUES"
	>
		<field name="deliverlocsyes" type="list"
			label="COM_JEM_AC_VENUE_SUBMIT"
			description="COM_JEM_AC_VENUE_SUBMIT"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="-2">COM_JEM_ONLYADMINS</option>
			<option value="-1">COM_JEM_ALLREGISTERED</option>
		</field>
		<field name="locdelrec" type="radio"
			label="COM_JEM_RECURSIVE"
			description="COM_JEM_RECURSIVE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="autopublocate" type="list"
			label="COM_JEM_AUTOPUBLISH"
			description="COM_JEM_AUTOPUBLISH_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="-2">COM_JEM_ONLYADMINS</option>
			<option value="-1">COM_JEM_ALLREGISTERED</option>
		</field>
		<field name="locpubrec" type="radio"
			label="COM_JEM_RECURSIVE"
			description="COM_JEM_RECURSIVE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="venueedit" type="list"
			label="COM_JEM_AC_VENUE_EDIT"
			description="COM_JEM_AC_VENUE_EDIT_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="-2">COM_JEM_ONLYADMINS</option>
			<option value="-1">COM_JEM_ALLREGISTERED</option>
		</field>
		<field name="venueeditrec" type="radio"
			label="COM_JEM_RECURSIVE"
			description="COM_JEM_RECURSIVE_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="venueowner" type="radio"
			label="COM_JEM_EDIT_VENUE_FRONTEND_USER"
			description="COM_JEM_EDIT_VENUE_FRONTEND_USER_DESC"
			class="inputbox"
			default="0"
			required="false"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fields name="globalattribs">
		<fieldset name="basic"
			label="COM_JEM_EVENT_ATTRIBS_FIELDSET_LABEL"
		>
			<field name="event_show_author" type="list"
				label="COM_JEM_EVENT_FIELD_SHOW_AUTHOR_LABEL"
				description="COM_JEM_EVENT_FIELD_SHOW_AUTHOR_DESC"
			>
				<option	value="0">JHIDE</option>
				<option	value="1">JSHOW</option>
			</field>
			<field name="event_link_author" type="list"
				label="COM_JEM_EVENT_FIELD_LINK_AUTHOR_LABEL"
				description="COM_JEM_EVENT_FIELD_LINK_AUTHOR_DESC"
			>
				<option	value="0">JNO</option>
				<option	value="1">JYES</option>
			</field>
			<field name="event_show_contact" type="list"
				label="COM_JEM_EVENT_FIELD_SHOW_CONTACT_LABEL"
				description="COM_JEM_EVENT_FIELD_SHOW_CONTACT_DESC"
			>
				<option	value="0">JHIDE</option>
				<option	value="1">JSHOW</option>
			</field>
			<field name="event_link_contact" type="list"
				label="COM_JEM_EVENT_FIELD_LINK_CONTACT_LABEL"
				description="COM_JEM_EVENT_FIELD_LINK_CONTACT_DESC"
			>
				<option	value="0">JNO</option>
				<option	value="1">JYES</option>
			</field>
			<field name="event_show_hits" type="list"
				label="COM_JEM_EVENT_FIELD_SHOW_HITS_LABEL"
				description="COM_JEM_EVENT_FIELD_SHOW_HITS_DESC"
			>
				<option	value="0">JHIDE</option>
				<option	value="1">JSHOW</option>
			</field>
			<field name="event_show_print_icon" type="list"
				label="JGLOBAL_SHOW_PRINT_ICON_LABEL"
				description="JGLOBAL_SHOW_PRINT_ICON_DESC"
			>
				<option	value="0">JHIDE</option>
				<option	value="1">JSHOW</option>
			</field>
			<field name="event_show_email_icon" type="list"
				label="JGLOBAL_SHOW_EMAIL_ICON_LABEL"
				description="JGLOBAL_SHOW_EMAIL_ICON_DESC"
			>
				<option	value="0">JHIDE</option>
				<option	value="1">JSHOW</option>
			</field>
			<field name="event_show_ical_icon" type="list"
				label="COM_JEM_SETTINGS_EVENT_FIELD_SHOW_ICAL_ICON"
				description="COM_JEM_SETTINGS_EVENT_FIELD_SHOW_ICAL_ICON_DESC"
			>
				<option	value="0">JHIDE</option>
				<option	value="1">JSHOW</option>
			</field>
			<field name="event_show_noauth" type="list"
				label="JGLOBAL_SHOW_UNAUTH_LINKS_LABEL"
				description="JGLOBAL_SHOW_UNAUTH_LINKS_DESC"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field name="event_show_readmore" type="radio"
				label="JGLOBAL_SHOW_READMORE_LABEL"
				description="JGLOBAL_SHOW_READMORE_DESC"
				default="1"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="event_show_intro" type="list"
				description="COM_JEM_EVENT_FIELD_SHOW_INTRO_DESC"
				label="COM_JEM_EVENT_FIELD_SHOW_INTRO_LABEL"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
		</fieldset>
		
		<fieldset name="globalparam"
			label="COM_JEM_GLOBAL_PARAMETERS"
		>
			<field name="global_show_filter" type="radio"
				label="COM_JEM_FILTER"
				description="COM_JEM_FILTER_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_display" type="radio"
				label="COM_JEM_DISPLAY_SELECT"
				description="COM_JEM_DISPLAY_SELECT_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_icons" type="radio"
				label="COM_JEM_SHOW_ICONS"
				description="COM_JEM_SHOW_ICONS_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_print_icon" type="radio"
				label="COM_JEM_PRINT_ICON"
				description="COM_JEM_PRINT_ICON_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_archive_icon" type="radio"
				label="COM_JEM_ARCHIVE_ICON"
				description="COM_JEM_ARCHIVE_ICON_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_email_icon" type="radio"
				label="COM_JEM_EMAIL_ICON"
				description="COM_JEM_EMAIL_ICON_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_ical_icon" type="radio"
				label="COM_JEM_SETTINGS_SHOW_EVENTS_ICAL"
				description="COM_JEM_SETTINGS_SHOW_EVENTS_ICAL_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_timedetails" type="radio"
				label="COM_JEM_DISPLAY_TIME"
				description="COM_JEM_DISPLAY_TIME_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_regname" type="list"
				label="COM_JEM_TYPE_REG_NAME"
				description="COM_JEM_TYPE_REG_NAME_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">COM_JEM_USERNAME</option>
				<option value="1">COM_JEM_NAME</option>
			</field>
			<field
			name="show_noauth"
			type="list"
			default="0"
			label="JGLOBAL_SHOW_UNAUTH_LINKS_LABEL"
			description="JGLOBAL_SHOW_UNAUTH_LINKS_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field
			name="highlight"
			type="list"
			default="0"
			label="COM_JEM_SETTINGS_FIELD_ENABLE_HIGHLIGHT"
			description="COM_JEM_SETTINGS_FIELD_ENABLE_HIGHLIGHT_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		<field name="default_Itemid" type="text"
				label="COM_JEM_SETTINGS_FIELD_DEFAULTITEMID"
				description="COM_JEM_SETTINGS_FIELD_DEFAULTITEMID_DESC"
				class="inputbox"
				size="10"
				maxlength="10"
				required="false"
			/>
		</fieldset>
		
		<fieldset name="venues"
			label="COM_JEM_VENUES"
		>
			<field name="global_show_locdescription" type="radio"
				label="COM_JEM_DISPLAY_VENUE_DESCRIPT"
				description="COM_JEM_DISPLAY_VENUE_DESCRIPT_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_detailsadress" type="radio"
				label="COM_JEM_DISPLAY_ADDRESS"
				description="COM_JEM_DISPLAY_ADDRESS_DESC"
				class="inputbox"
				default="0"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="global_show_detlinkvenue" type="list"
				label="COM_JEM_DISPLAY_ADDRESS"
				description="COM_JEM_DISPLAY_ADDRESS_DESC"
				class="inputbox"
				default="0"
				required="false"
			>
				<option value="0">COM_JEM_NO_LINK</option>
				<option value="1">COM_JEM_LINK_TO_URL</option>
				<option value="2">COM_JEM_LINK_TO_VENUEVIEW</option>
			</field>
			<field name="global_show_mapserv" type="list"
				label="COM_JEM_DISPLAY_LINK_TO_MAP"
				description="COM_JEM_DISPLAY_LINK_TO_MAP_DESC"
				class="inputbox"
				default="0"
				required="false"
			>
				<option value="0">COM_JEM_NO_MAP_SERVICE</option>
				<option value="1">COM_JEM_GOOGLE_MAP_LINK</option>
				<option value="2">COM_JEM_GOOGLE_MAP_DISP</option>
			</field>
			<field name="global_tld" type="text"
				label="COM_JEM_GOOGLE_MAP_TLD"
				description="COM_JEM_GOOGLE_MAP_TLD_DESC"
				class="inputbox"
				size="10"
				maxlength="10"
				required="false"
			/>
			<field name="global_lg" type="text"
				label="COM_JEM_GOOGLE_MAP_LG"
				description="COM_JEM_GOOGLE_MAP_LG_DESC"
				class="inputbox"
				size="10"
				maxlength="10"
				required="false"
			/>
		</fieldset>
		
		<fieldset name="evevents"
			label="COM_JEM_EVENTS"
		>
			<field name="event_show_description" type="radio"
				label="COM_JEM_DISPLAY_EVENT_DESCRIPT"
				description="COM_JEM_DISPLAY_EVENT_DESCRIPT_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="event_show_detailstitle" type="radio"
				label="COM_JEM_DISPLAY_EVENT_TITLE"
				description="COM_JEM_DISPLAY_EVENT_TITLE_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
		</fieldset>

		<fieldset name="evvenues"
			label="COM_JEM_VENUES"
		>
			<field name="event_show_locdescription" type="radio"
				label="COM_JEM_DISPLAY_VENUE_DESCRIPT"
				description="COM_JEM_DISPLAY_VENUE_DESCRIPT_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="event_show_detailsadress" type="radio"
				label="COM_JEM_DISPLAY_ADDRESS"
				description="COM_JEM_DISPLAY_ADDRESS_DESC"
				class="inputbox"
				default="1"
				required="false"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="event_show_detlinkvenue" type="list"
				label="COM_JEM_DISPLAY_ADDRESS"
				description="COM_JEM_DISPLAY_ADDRESS_DESC"
				class="inputbox"
				default="0"
				required="false"
			>
				<option value="0">COM_JEM_NO_LINK</option>
				<option value="1">COM_JEM_LINK_TO_URL</option>
				<option value="2">COM_JEM_LINK_TO_VENUEVIEW</option>
			</field>
			<field name="event_show_mapserv" type="list"
				label="COM_JEM_DISPLAY_LINK_TO_MAP"
				description="COM_JEM_DISPLAY_LINK_TO_MAP_DESC"
				class="inputbox"
				default="0"
				required="false"
			>
				<option value="0">COM_JEM_NO_MAP_SERVICE</option>
				<option value="1">COM_JEM_GOOGLE_MAP_LINK</option>
				<option value="2">COM_JEM_GOOGLE_MAP_DISP</option>
			</field>
			<field name="event_tld" type="text"
				label="COM_JEM_GOOGLE_MAP_TLD"
				description="COM_JEM_GOOGLE_MAP_TLD_DESC"
				class="inputbox"
				size="10"
				maxlength="10"
				required="false"
			/>
			<field name="event_lg" type="text"
				label="COM_JEM_GOOGLE_MAP_LG"
				description="COM_JEM_GOOGLE_MAP_LG_DESC"
				class="inputbox"
				size="10"
				maxlength="10"
				required="false"
			/>
		</fieldset>

		<fieldset name="evregistration"
			label="COM_JEM_REGISTRATION"
		>
			<field name="event_comunsolution" type="list"
				label="COM_JEM_COM_SOL"
				description="COM_JEM_COM_SOL_DESC"
				class="inputbox"
				default="0"
				required="false"
			>
				<option value="0">COM_JEM_DONT_USE_COM_SOL</option>
				<option value="1">COM_JEM_COMBUILDER</option>
			</field>
			<field name="event_comunoption" type="list"
				label="COM_JEM_TYPE_COM_INTEGRATION"
				description="COM_JEM_TYPE_COM_INTEGRATION_DESC"
				class="inputbox"
				default="0"
				required="false"
			>
				<option value="0">COM_JEM_LINK_PROFILE</option>
				<option value="1">COM_JEM_LINK_AVATAR</option>
			</field>
		</fieldset>

		<fieldset name="advanced" label="LABEL2">
			<field name="show_something" type="list"
				description="SOMETHING"
				label="SOMETHING_DESC"
				>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
		</fieldset>
	</fields>
</form>